installed models:
express 
mysql2 
body-parser  
csvtojson 
path 
pug 
nodemon

the code: npm i express mysql2 body-parser  csvtojson path pug nodemon --save

in cmd:
cd // put here from folder Part C
nodemon index

Tables:
To create and fill all the tables, go to localhost:3000/initData
On this page you will click on a different button each time according to the order on the page (from top to bottom). 
The "create tables" button will create all the existing tables, the "insert to tables" button will fill all the tables with data. After that you can view all the tables created by using the show buttons and finally you can drop each table separately or all of them together using the drop "all tables button".
Please note, as soon as you have clicked on drop of a certain table, you must drop all the other tables using the designated buttons and not click on drop all tables.
Finally, after all the tables are filled, you can click on the "go to home page" button and enjoy using the site.

in case that something is wrong with the page "initData" you can also do it from here:
create tables:
localhost:3000/CreateTables
insert to tables:
localhost:3000/InsertData
show tables:
localhost:3000/ShowUserTable
localhost:3000/ShowShopsTable
localhost:3000/ShowRatingTable
localhost:3000/ShowContactTable
drop tables:
localhost:3000/DropUserTable
localhost:3000/DropShopTable
localhost:3000/DropRatingTable
localhost:3000/DropContactTable
localhost:3000/DropAllTables
