doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS/style.css")
        script(defer, src="/JS/JavaScript.js")
        title Coffe Work
    body(class="homePage")
        nav 
            img(src="media/help.png", class="helpLogo")
            ul 
                il
                    a(href="./rateUs") Rate Us
                il
                    a(href="/contactUs") Contact Us
                il
                    a(href="/aboutUs") About Us    
        header(class="welcome")
            h1 COFFEE WORK
            h2 The place that will find you the place to work
        div(class="geoLocation")
            h1(class="MyHeading")
            input(type="checkbox" id="checkbox" disabled)
            button(class="Entrance")
                strong לחץ כאן כדי להתחיל
        div(class="Logo")
            img(id="image" src="/media/Logo1.png", class="home-Logo")
        footer 
            p(class="smallText") 
                | Made by Hadas Bin
    




