doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/CSS/style.css")
        script(defer, src="/JS/JavaScript.js")
        script(defer, src="/JS/popUpPage.js")
        title Coffe Work
    body
        nav 
            img(src="media/Logo1.png", class="miniLogo")
            ul 
                il 
                    a(href="/") Home Page
                il 
                    a(href="/rateUs") Rate Us
                il 
                    a(href="/contactUs") Contact Us
                il 
                    a(href="/aboutUs") About Us    
        block content               



