<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Coffee Work</title>
</head>
<body>
    <nav class="navbar"> 
        <img src="../static/Logo1.png" class="miniLogo">
        <ul>
            <il><a href="./homePage.html">Home Page</a></il>
            <il><a href="./contactUs.html">Contact Us</a></il>
            <il><a href="./rateShop.html">Rate shop</a></il>
        </ul>
    </nav>
    <div class="text">
        <h1>Coffee Work</h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. A asperiores nobis placeat excepturi esse, itaque architecto sequi aliquid unde nostrum fugiat recusandae quos, sapiente incidunt magnam minus ipsa culpa iusto?
        Cupiditate delectus natus, officiis consequatur itaque ipsa voluptas corrupti vel consequuntur. Quas omnis quis unde adipisci delectus nulla, debitis possimus amet at quia ducimus doloribus odit voluptas? Earum, pariatur non?
        Ut ab recusandae tempora, expedita adipisci magnam possimus non ducimus molestias deleniti. Voluptatem non alias recusandae aliquam neque in quisquam eveniet corporis distinctio, fugiat accusamus iste incidunt nulla laudantium. Dolore!
        Mollitia enim, explicabo quae, et beatae deleniti deserunt, minima officiis ab perspiciatis nisi nemo! Velit sunt accusamus rem, odit natus animi aperiam at eum cumque ab facilis, magni sapiente id?</p>
    </div>
</body>
</html>