<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Coffee Work</title>
</head>
<body>
    <nav class="navbar"> 
        <img src="../static/Logo1.png" class="miniLogo">
        <ul>
            <il><a href="./homePage.html">Home Page</a></il>
            <il><a href="./rateShop.html">Rate shop</a></il>
            <il><a href="./aboutUs.html">About Us</a></il>
        </ul>
    </nav>
    <div class = "form-box">
        <h1>Contact us</h1>
        <form>
            <input type="name" class="contact-form-text" placeholder="Full name" required>
            <input type="email" class="contact-form-text" placeholder="Email" required>
            <textarea type="text" class="contact-form-text textarea-field" placeholder="Your massage" required></textarea>
            <br>
            <input type="submit" class="btn">
        </form>
    </div>
</body>
</html>