<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/Logo.js"></script>
    <script defer src="../static/geoLocation.js"></script>
    <title>Coffee Work</title>
</head>
<body class="homePage">
    <div class="home-container">
        <nav class="home-navbar">
            <ul>
                <il><a href="./contactUs.html">Contact Us</a></il>
                <il><a href="./rateShop.html">Rate shop</a></il>
                <il><a href="./aboutUs.html">About Us</a></il>
            </ul>
        </nav>
        <div class = "home-header"> 
            <h1> COFFEE WORK </h1>
            <h2> The place that will find you the place to work </h2>
        </div>    
        <div class="home-welcome">
            <h1 class="MyHeading"></h1>
            <input type="checkbox" id="checkbox" disabled>
            <button class="Entrance"> <strong> לחץ כאן כדי להתחיל </strong> </button>
        </div>
        <div class="Logo">
            <img id="image" src="../static/Logo1.png" class="home-Logo">
        </div>
        <div class="home-footer">
            <footer class="footer">Made By Hadas Bin</footer>
        </div>
    </div>
</body>
</html> 